# ignore everything
/*

# do not ignore the README.md and .gitignore
!README.md
!.gitignore
!ScreenShot.png
!quickstart.sh

# do not ignore /tmux/.tmux.conf
!/tmux
/tmux/*
!/tmux/tmux.conf.local

# do not ignore ranger config
!/ranger
/ranger/*
!/ranger/commands.py
!/ranger/commands_full.py
!/ranger/rc.conf
!/ranger/rifle.conf

# do not ignore lazygit config
!/lazygit
/lazygit/*
!/lazygit/config.yml

# do not ignore zsh config
!/zsh
/zsh/*
!/zsh/.zshrc
!/zsh/aliasrc
!/zsh/bin
!/zsh/env.sh

# do not ignore yabai config
!/yabai
/yabai/*
!/yabai/yabairc

# do not igonre skhd config
!/skhd
/skhd/*
!/skhd/skhdrc

# do not ignore starship config
!/starship
/starship/*
!/starship/starship.toml

# do not igonre alacritty config
!/alacritty
/alacritty/*
!/alacritty/alacritty.yml

!/btop
/btop/*
!/btop/btop.conf
!/btop/themes

!/neofetch

!/install

!/rimeconf
